#Ignore /node_modules directory
node_modules
node_module/**/*

#Ignore /build directory
build
build/**/*

#Ignore anything under babel_cache
babel_cache
babel_cache/**/*

#Ignore gulp-cache
.gulp-cache